In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Import Data for V1.0 Feature Selection

In [16]:
X_train= pd.read_csv('C:/Users/jmeis/NYC_DSA/HousingPrices/Data/Version_1.0/x_Train.csv')
X_test= pd.read_csv('C:/Users/jmeis/NYC_DSA/HousingPrices/Data/Version_1.0/x_Test.csv')
y_train= pd.read_csv('C:/Users/jmeis/NYC_DSA/HousingPrices/Data/Version_1.0/y_Train.csv')
y_test= pd.read_csv('C:/Users/jmeis/NYC_DSA/HousingPrices/Data/Version_1.0/y_Test.csv')

# Create Basic Linear Regression for comparison Purposes

In [19]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

from sklearn.linear_model import LogisticRegression
logit = LogisticRegression(solver='liblinear')
logit.fit(X_train, y_train)

LogisticRegression(solver='liblinear')

In [20]:
logit.score(X_train, y_train)

0.9841427155599604

## Make Predicitions

In [28]:
PredLin = pd.concat([pd.Series(logit.predict(X_test)), y_test], axis = 1)
PredLin.columns = ['Predicted', 'Actual']
PredLin

     Predicted  Actual
0       244000  136000
1       174000  194201
2       287000  294000
3       167000  132000
4       128000  119000
..         ...     ...
428     309000  274725
429      97000   84000
430     361919  485000
431     185000  215000
432     251000  328900

[433 rows x 2 columns]

## Let's Score Ourselves

In [35]:
PredLin['Difference']=(PredLin['Predicted'] - PredLin['Actual'])**2
RSS = PredLin.Difference.sum()
RSS

1287134913755

In [38]:
Average = PredLin.Difference.mean()**.5
Average

54521.536600180334

In [39]:
logit.score(X_test, y_test)

0.006928406466512702

**Yeah.......that's bad.....**

# Fit an ElasticNet Model With GridSearch

In [41]:
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import GridSearchCV
parametersGrid = {"max_iter": [1, 5, 10],
                "alpha": [0.0001, 0.001, 0.01, 0.1, 1, 10, 100],
                "l1_ratio": np.arange(0.0, 1.0, 0.1)}
eNet = ElasticNet()
grid = GridSearchCV(eNet, parametersGrid, scoring='r2', cv=10)
grid.fit(X_train, y_train)
pred = grid.predict(X_test)

In [43]:
PredGrid = pd.concat([pd.Series(pred), y_test], axis = 1)
PredGrid.columns = ['Predicted', 'Actual']
PredGrid

         Predicted  Actual
0    131303.775432  136000
1    228804.665819  194201
2    259298.482571  294000
3    159068.195721  132000
4    103835.620502  119000
..             ...     ...
428  244651.207131  274725
429   60714.823459   84000
430  427173.293038  485000
431  214172.771764  215000
432  259349.740834  328900

[433 rows x 2 columns]

## Lets score ourselves

In [44]:
PredGrid['Difference']=(PredGrid['Predicted'] - PredGrid['Actual'])**2
PredGrid.Difference.sum()

319799827969.89417

In [45]:
PredGrid.Difference.mean()**.5

27176.60265802347

In [46]:
grid.score(X_test, y_test)

0.8634328446890307

In [47]:
grid.get_params()

{'cv': 10,
 'error_score': nan,
 'estimator__alpha': 1.0,
 'estimator__copy_X': True,
 'estimator__fit_intercept': True,
 'estimator__l1_ratio': 0.5,
 'estimator__max_iter': 1000,
 'estimator__normalize': 'deprecated',
 'estimator__positive': False,
 'estimator__precompute': False,
 'estimator__random_state': None,
 'estimator__selection': 'cyclic',
 'estimator__tol': 0.0001,
 'estimator__warm_start': False,
 'estimator': ElasticNet(),
 'n_jobs': None,
 'param_grid': {'max_iter': [1, 5, 10],
  'alpha': [0.0001, 0.001, 0.01, 0.1, 1, 10, 100],
  'l1_ratio': array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])},
 'pre_dispatch': '2*n_jobs',
 'refit': True,
 'return_train_score': False,
 'scoring': 'r2',
 'verbose': 0}